	.calendarDiv {
		background-color: #f8f9fa;
	    border-radius: 10px;
	    box-shadow: 3px -3px 5px #ccc;
	    padding: 7px 12px;
	    margin-top: 1em;
	}
	
	.calendarDiv form {
		margin-block-start: 1em;
		margin-block-end: 0.5em;
		text-align: center;
	}
	.yearMonth {
		color: DodgerBlue;
	}

	.calendarBody thead tr td {
	    font-weight: bold;
	    color: DodgerBlue;
	    font-size: 16px;
	}
	
	.calendarBody td {
/* 		border: 2px solid transparent; */
	    text-align: center;
	    width: 50px;
	    height: 35px;
	    font-size: 14px;
	    box-sizing: border-box;
	    user-select: none;
	}
	
	.calendarBody .passedDate {
	    color: #ADADAD;
	    text-decoration: line-through;
	}
	
	.calendarBody .orderedDate:not(.passedDate) {
	    color: #ADADAD;
	    border-style: dashed;
	}
	
	.calendarBody .currentDate a {
	    color: #CE0000 !important;
	    font-weight: bold;
	}
	
	.calendarBody td.onSelect {
		border: 2px solid red;
		background-color: #FFFFB9;
	}
	.orderedRange {
		background-color: #FFFFB9;
	}
	
	.calendarBody td:not(.passedDate):not(.orderedDate), .material-icons {
		cursor: pointer;
	}
	
	.calendarBody a {
		color: #613030;
	}

	.calendarBody a:hover, .calendar a:focus {
	    text-decoration: none;
	}
