        nav {
            height: 106.4px !important;
            z-index: 99;
        }

        /* 輪播 */
        div.carousel-inner img {
            width: auto;
            height: 650px;
        }


        /* =====text  */
        div.menu li {
            color: white;
        }

        div.index_text {
            position: absolute;
            z-index: 5;
            color: white;
            left: 40%;
            top: 40%;
        }



        @media screen and (max-width: 590px) {

            div.index_text {
                left: 31%;
                top: 40%;
            }

            div.index_text>p {
                padding: 0 30% 0 0;
            }

            h2.naga {
                font-size: 4rem;
            }

        }

        /* ===== provide  */

        section.s0 {
            margin: 100px 0px;

        }

        h2.provide_title {
            margin-top: 100px;
            font-size: 3rem;
            font-family: var(--family);
            text-align: center;
        }

        div.provide_item_all {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }

        /* 訂房ㄉ那四張圖 */
        div.item img {
            width: 400px;
            height: 300px;
        }

        div.item figure {
            overflow: hidden;
            width: 300px;
            height: 300px;
        }


        div.item figure figcaption {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;
            color: #fff;
            text-shadow: 0px 0px 2px orange;
            font-size: 20px;
            margin-top: -5px;
            transition: all 0.5s;
            overflow: hidden;

        }

        div.item figure:hover figcaption {
            margin-top: -200px;
            position: relative;
            z-index: 2;
        }


        div.crown_container {
            width: 50px;
            margin: 0 auto;
            box-sizing: border-box;
        }

        h3.item_title {
            text-align: center;
        }

        p.item_text {
            color: gray;
            line-height: 22px;
        }

        @media screen and (max-width:1200px) {
            div.item {
                width: 40%;
            }

            div.provide_item_all {
                width: 100%;
            }

        }

        @media screen and (max-width:700px) {
            div.item {
                width: 90%;
            }

        }

        /* =====s1 intro  */

        section.s1 {
            margin-top: 50px;
        }

        div.intro {
            position: relative;
        }

        div.intro_text {
            position: absolute;
            width: 50%;
            padding: 70px;
            right: 0%;
            top: 5%;
            line-height: 25px;
        }

        div.intro_text>h3 {
            text-align: center;
        }

        h3.our {
            margin-top: 60px;
            text-align: center;
            font-size: 3rem;
        }

        p.intro_t {
            color: gray;
        }


        @media screen and (max-width:1200px) {

            div.intro_text {
                position: static;
                width: 100%;
                margin: 0 auto;
                padding: 15px;
            }
        }


        @keyframes bouncedown {
            25% {
                transform: translateY(-7px);
            }

            50%,
            100% {
                transform: translateY(0);
            }

            75% {
                transform: translateY(4px);
            }

        }


        div.item img {
            width: 400px;
            height: 300px;
        }

        div.item figure {
            overflow: hidden;
            width: 300px;
            height: 300px;
        }


        div.item figure figcaption {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;
            color: #fff;
            text-shadow: 0px 0px 2px orange;
            font-size: 20px;
            margin-top: -5px;
            transition: all 0.5s;
            overflow: hidden;

        }
        img {
            max-width: 100%;
        }

        div.item figure:hover figcaption {
            margin-top: -60px;
            position: relative;
            z-index: 2;
        }

        div.box_all {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        div.box {
            overflow: hidden;
            width: 20%;
        }


        img.sma:hover {
            transform: scale(1.2);
            transition: all 0.8s ease;
        }



        div.marker {
            font-weight: bolder;
            font-size: 1.5rem;
            text-align: center;
            margin: 80px;
            cursor: pointer;
        }

        img.mar {
            animation: bouncedown 1.6s linear infinite;
        }

        @media screen and (max-width:900px) {

            div.box {
                width: 40%;
            }

        }

        /* ===== s2 accom  */

        section.s2 {
            margin-top: 50px;
        }

        div.accall {
            background-color: rgba(0, 0, 0, 0.8);
            padding: 100px;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        h2.accall_title {
            font-size: 4rem;
            font-family: var(--family);
            text-align: center;
        }

        p.accall_text {
            padding: 0 100px;
        }

        button {
            padding: 12px;
            border: 0;
            outline: none;
            cursor: pointer;
            width: 150px;
            font-weight: bold;
            font-size: 1.2rem;
            margin: 30px auto 0;
        }




        div.roomname {
            color: white;
            background-color: rgba(0, 0, 0, 0.8);
            top: 100%;
            font-size: 1.5rem;
            font-weight: bolder;
            padding: 30px;
        }

        @media screen and (max-width:900px) {
            div.accall {
                padding: 5px;
            }

            p.accall_text {
                padding: 0 10px;
                display: none;
            }

            button {
                margin-top: 15px;
            }

            h2.accall_title {
                font-size: 3.5rem;
            }

            div.roomname {
                top: 100%;
                font-size: 1rem;
                font-weight: bolder;
                padding: 10px;
            }
        }










        /* ================== */

        #checkyes,
        #checkyes2 {
            -webkit-appearance: none;
            display: none;
        }

        .searchbox {
            width: 0px;
            border-radius: 50px;
            border: none;
            background: #000;
            color: #fff;
            font-size: 20px;
            transition: 0.3s ease;
            transform: scale(0);
        }

        input[type="search"] {
            padding: 0 25px;
        }





        #checkyes:checked~label span {
            color: #000;
            background: #fff;
            position: relative;
            margin-left: 5px;
        }

        #checkyes2:checked~label .searchbox {
            width: 150px;
            transform: scale(1);
            border: 3px solid #fff;
        }

        #checkyes2:checked~label span {
            color: #000;
            background: #fff;
            position: relative;
            margin-left: 5px;
        }



        .dispear {
            display: none;
            transition: all ease 0.5s;
        }